@page "/index"
@using System.Security.Claims
@using Entities = MS_CollectingPoints.DataLayer.Data.Entities
@inject MS_CollectingPoints.BusinessLayer.Managers.IAppManager AppManager
@inject MS_CollectingPoints.BusinessLayer.Managers.ICampaignManager CampaignManager
@*<AuthorizeRouteView>

        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeRouteView>*@

@if (IsUserAuthenticated)
{
    <h3><b>@user.Identity.Name</b> is logged in!!!</h3>
    @*<br />
        <p>Is Publisher : @IsPublisher</p>
        <p>Is Senior Employee : @IsSeniorEmployee</p>*@
}
else
{
    <h3><b>User is logged out</b></h3>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;
    //bool IsPublisher;
    //bool IsSeniorEmployee;


    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;


        List<Entities.App> LstApp3 = AppManager.GetAllBasePageEntities().ToList();

        CampaignManager.AddCampaign(new Entities.Campaign() {CampaignName="campagna2",IdApp=1 });

        
        //if (user.IsInRole("Publisher"))
        //    IsPublisher = true;

        //if ((await authorizationService.AuthorizeAsync(user, "SeniorEmployee")).Succeeded)
        //    IsSeniorEmployee = true;
    }
}
