@inherits LayoutComponentBase

<link href="Css/Login.css" rel="stylesheet" />

<div class="main">
    
    <div class="m-5 p-5"></div>
    <div class="col-12" style="border-left:thick;margin-top: auto;margin-bottom: auto;">
        @Body
    </div>

</div>
    @code {

    }
